input {
  mongodb {
    uri => "mongodb://root:rootpassword@mongo:27017"
    database => "qualidade_agua"
    batch_size => 5000
    type => "mongodb"
  }
}

output {
  elasticsearch {
    hosts => ["https://elasticsearch:9200"]
    index => "mongo_data_index"
    authorization => "Bearer eyJ2ZXIiOiI4LjUuMyIsImFkciI6WyIxNzIuMTkuMC4zOjkyMDAiXSwiZmdyIjoiNjQ5MDVhMzk4MmI3MTlhNmU1ZjZjYjM1ZjNmYTIzMmMxMzc1ZWE2MWY4ZTBkZGFmMzE3YjFmNmYyOGJjZDBmOCIsImtleSI6IlN1ZDc4Wk1CaXlESllkUnFBQkJ6OjFfd05TSjJTUWJDWHA1aWt0SE9PSEEifQ=="
  }
}
